<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/x-icon" href="static/favicon.png">
	<title>distillerat_</title>
	<link rel="stylesheet" href="/static/styles.css">
	<script src="https://apis.google.com/js/api.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="blank-profile-space"></div>
	<img src="/static/distill_logo2.png" class="logo-centered">
	<h1 class="page-title">drat<span class="cursor">_</span>!</h1>
	<h3 class="page-subtitle">Please try again in a few minutes.</h3>
	<a href="/" class="back-button">← Dashboard</a>
	
	<div class="footer">
		<a href="/privacy">Privacy Policy</a>
		<a href="/terms">Terms of Service</a>
		<a>Google Drive is a trademark of Google LLC.</a>
	</div>
</body>
</html>
